# .NET build artifacts
bin/
obj/
**/bin/
**/obj/

# Visual Studio / VS Code
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.rsuser
*.sln.iml

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/
**/packages/*

# Test results
TestResult*/
TestResults/
*.trx

# Code coverage
coverage/
*.coverage
*.coveragexml
**/coverage.cobertura.xml
**/coverage-*.cobertura.xml
**/coverage-all-report/
**/coverage-app-report/
**/coverage-*-report/

# JetBrains Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# Misc cache
*.cache
